# Author: Rohit.Punnoose@target.com
## Homework: Day 1 - Aug 29 
### Exercise 20.8
#### Question 1

In [1]:
import pandas as pd

In [2]:
sentence = "ThiS is String with Upper and lower case Letters"

In [3]:
# Convert all characters to lower cases first
sentenceLower = sentence.lower()

In [4]:
# Remove white spaces
sentenceMash = sentenceLower.replace(" ", "")

In [5]:
# Intialize an empty Dict
wordList = {}

In [6]:
# Function to count each character in the mashed up phrase
for word in list(sentenceMash):
    if word not in wordList:
        wordList[word] = 1
    else:
        wordList[word] += 1
print(wordList)

{'a': 2, 'c': 1, 'e': 5, 'd': 1, 'g': 1, 'i': 4, 'h': 2, 'l': 2, 'o': 1, 'n': 2, 'p': 2, 's': 5, 'r': 4, 'u': 1, 't': 5, 'w': 2}

In [7]:
# As per requirement, convert into a DataFrame like syntax
pd.DataFrame(wordList.items(), columns = ['Letter', 'Count'])

   Letter  Count
0       a      2
1       c      1
2       e      5
3       d      1
4       g      1
5       i      4
6       h      2
7       l      2
8       o      1
9       n      2
10      p      2
11      s      5
12      r      4
13      u      1
14      t      5
15      w      2

#### Question 2a

In [27]:
# Give the Python interpreterâ€™s response to each of the following from a continuous interpreter session:
d = {"apples": 15, "bananas": 35, "grapes": 12}
d["bananas"]   

# A dictionary, d is first created with 3 key-value pairs inserted into it. The second line of code then gives the 
# corresponding "value" for the key value of "bananas"

35

#### Question 2b

In [28]:
d["oranges"] = 20
len(d)       # gives the length of the dictionary d, i.e. number of key values in d i.e. 4 in this example

4

#### Question 2c

In [29]:
"grapes" in d    # is a Boolean function to check if the value of "grapes" exists or not in the dictionary, d

True

#### Question 2d

In [30]:
d["pears"] 

# This code is supposed to give the corresponding values of the keys to the key of "pears". As this key value itself
# doesnt exist, the code returns an error

KeyError: 'pears'

#### Question 2e

In [31]:
d.get("pears", 0)  

# This function strives to find if there is an occurence of "pears" as a key value, hence 0 as return

0

#### Question 2f

In [32]:
fruits = list(d.keys())
fruits.sort()
print(fruits)

# this piece of code first extracts the values of the keys into a list called 'fruit'. The subsequent sort function
# sorts the string values in ascending order and prints it out

['apples', 'bananas', 'grapes', 'oranges']

#### Question 2g

In [33]:
del d["apples"]
"apples" in d

# The first line of code deleted the key of "apples". Therefore in the second line of code, when we are doing a Boolean
# check of whether that key exists, it gives a value of FALSE as a return value

False

#### Last segment in Question 2

In [47]:
# Make these tests work...

def add_fruit(inventory, fruit, quantity=0):
    if inventory.has_key(fruit):
         inventory[fruit] += quantity
    else:
         inventory[fruit] = quantity

new_inventory = {}
add_fruit(new_inventory, "strawberries", 10)
new_inventory['strawberries']
new_inventory["strawberries"] == 10
add_fruit(new_inventory, "strawberries", 25)
new_inventory["strawberries"] == 35

True